<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>账号激活</title>
    <link rel="stylesheet" th:href="@{/css/reset.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/login.css}" type="text/css">
</head>
<body class="grey_bg">
<div class="header">
    <div class="logo">
        <div class="comWidth">
            <div class="logo_icon fl">
                <a th:href="@{/front/index}">
                    <img th:src="@{/images/logo.png}" alt="明博商城网">
                </a>
            </div>
            <h2>账号激活</h2>
        </div>
    </div>
</div>

<div class="mainContent">
    <div class="comWidth loginBox">
        <span th:text="账号激活成功"></span>
    </div>
</div>


<div class="footer cl">
    <div class="copy-info">
        <p>
            <a href="#">明博简介|</a><a href="#">明博公告 |</a><a href="#">招纳贤士 |</a><a
                href="#">联系我们 |</a>客服热线：400-675-1234
        </p>
        <p>Copyright&copy;2006-2016 明博科技版权所有</p>
    </div>
    <div class="copy-images">
        <a href="#"><img th:src="@{/images/icon/img1.png}" alt="版权区图片"></a>
        <a href="#"><img th:src="@{/images/icon/img2.png}" alt="版权区图片"></a>
        <a href="#"><img th:src="@{/images/icon/img3.png}" alt="版权区图片"></a>
        <a href="#"><img th:src="@{/images/icon/img4.jpg}" alt="版权区图片"></a>
    </div>
</div>
</body>

</html>